<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>汉富新生活</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>hanPay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxf9817e2bc71f2351</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>hanPay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1108045627</string>
				<string>QQ420b6F3B</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hanzhifuMap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unifyPayHanPay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jiguang-097ab589f03a66f38e92ad0f</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hanFuLife</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ly.hanlife</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hanlife</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipays</string>
		<string>uppayx3</string>
		<string>uppayx2</string>
		<string>uppayx1</string>
		<string>uppaywallet</string>
		<string>uppaysdk</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>mqqopensdkapiV4</string>
		<string>mqq</string>
		<string>mqzone</string>
		<string>mqqwpa</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>hanlife</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppSecret</key>
	<string>d6a292e89a0748ebf79ae1d0aa5f84a1</string>
	<key>MOBAppkey</key>
	<string>29d19bfcc01ac</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>汉富新生活需要访问您的日历</string>
	<key>NSCameraUsageDescription</key>
	<string>汉富新生活需要您的同意才能进行相机的访问，以便于您的扫码操作</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>汉富新生活需要您的同意获取当前位置，以便我们向您推荐适合您所在地理位置的商品和店铺</string>
	<key>NSLocationUsageDescription</key>
	<string>汉富新生活需要您的同意获取当前位置，以便我们向您推荐适合您所在地理位置的商品和店铺</string>
	<key>NSLocationWhenInUseDescription</key>
	<string>汉富新生活需要您的同意获取当前位置，以便我们向您推荐适合您所在地理位置的商品和店铺</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>汉富新生活需要您的同意获取当前位置，以便我们向您推荐适合您所在地理位置的商品和店铺</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>汉富新生活需要您的同意才能进行相册的访问，以便于我们您的操作</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>汉富新生活需要您的同意才能进行相册的访问，以便于我们您的操作</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
